<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Not Found</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    h1 {
      color: red;
    }

    button {
      width: 150px;
      padding: 10px;
      border-radius: 15px;
      background-color: gold;
      margin-left: 200px;
    }
  </style>
</head>

<body>
  <h1>“Sorry, we can’t find the movie you were looking for.”</h1>
  </div>
    <button onClick="back()"> Go Back</button>
  </div>

  <script>
    function back() {
      window.history.back();
    }
  </script>
  
</body>
</html>